:root {
  --cube-opacity: 1;
  --cube-pivot-height: 200px;
  --cube-pivot-width: 200px;
  --tile-size: 20%;
  --tile-font-size: 25px;
  --block-background-color: #252525;
  --not-present-color:#333333;
  --body-background-color: white;
  --text-color: white;
  --correct-color:#538d4e;
  --present-color:#edc24a;
  --reflection-distance:90px;
  --scale-factor: 0.8;
  --small-scale-factor: 0.5;
  --perspective:600px;
}

@font-face{
  font-family:nytFranklin;
  src: url(../assets/franklin-normal-600.ttf);
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--body-background-color);
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  color:white;
  overflow:hidden;
}

#logo{
  height:15vh;
  margin:auto;
}
.logo-container{
  width:100vw;
  /* height: 5vw; */
  text-align: center;
  align-items: center;
  top: 0;
  /* right: 0;
  left: 0;
  bottom: 0;
  top: 5%; */
  /* margin: auto; */
  user-select: none;
  /* position: absolute; */
}

#wrapper {
  padding-top: 15vh;
}

.viewport {
  -webkit-perspective: var(--perspective);
  -moz-perspective: var(--perspective);
  -ms-perspective: var(--perspective);
  -o-perspective: var(--perspective);
  perspective: var(--perspective);
  text-align: center;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective-origin: 50% 200px;
  perspective-origin: 50% 100px;
  -webkit-transform: scale(var(--scale-factor), var(--scale-factor));
  -moz-transform: scale(var(--scale-factor), var(--scale-factor)); 
  -ms-transform: scale(var(--scale-factor), var(--scale-factor));
  -o-transform: scale(var(--scale-factor), var(--scale-factor));
  transform: scale(var(--scale-factor), var(--scale-factor));
  -webkit-box-reflect: below var(--reflection-distance) -webkit-linear-gradient(transparent , rgba(250, 250, 250, 0.1) 50%, transparent);
  position:relative;  
}

.cube {
  position: relative;
  margin: -9vh auto;
  /* Height controls vertical offset pivot point */
  height: var(--cube-pivot-height);
  /* Width controls horizontal offset of pivot point */
  width: var(--cube-pivot-width);
  align-items: center;
  left: 1.2%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(136deg) rotateY(1122deg) ;
  -moz-transform: rotateX(136deg) rotateY(1122deg);
  -ms-transform: rotateX(136deg) rotateY(1122deg);
  -o-transform: rotateX(136deg) rotateY(1122deg);
  transform: rotateX(136deg) rotateY(1122deg);
}

.side {
  overflow: hidden;
  position: absolute;
  opacity: var(--cube-opacity);
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  /* background-image: url("https://jordizle.com/static/img/codepen/blank.png"); */
  background-color: var(--block-background-color);
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.side-row {
  width: 100%;
  height: 20%;
  position: relative;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
}

.tile {
  width: var(--tile-size);
  height: 100%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 40px;
  font-size: var(--tile-font-size);
  text-align: center;
  color: var(--text-color);
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms;
  display: block;
  grid-row-start: auto;
  outline: 1px solid white;
}


.cube>div>div.tile.active {
  color: red;
}

.cube>div:hover {
  cursor: pointer;
}

.cube>div:active {
  cursor: pointer;
}

.cube>div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
  outline: 10px solid transparent;
  /* background-color: red; */
}

.cube>div:nth-child(2) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
  outline: 1px solid transparent;
  /* background-color: orange; */
}

.cube>div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
  outline: 1px solid transparent;
  /* background-color: yellow; */
}

.cube>div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
  outline: 1px solid transparent;
  /* background-color: green; */
}

.cube>div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
  outline: 1px solid transparent;
  /* background-color: blue; */
}

.cube>div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(100px) rotateZ(180deg);
  outline: 1px solid transparent;
  /* background-color: purple; */
}

.correct {
  background-color:var(--correct-color);
}

.present {
  background-color:var(--present-color) !important;
  color:white !important;
  border:grey !important;
}
.allfound {
  background-color:var(--correct-color) !important;
  color:white !important;
  border:grey !important;
}

.notpresent{
  background-color:var(--not-present-color) !important;
  color:white !important;
  border:grey !important;
}

object {
  opacity: 0.5;
}

object:hover {
  opacity: 1;
}

@media screen and (max-width: 1500px) {
  .viewport {
    -webkit-transform: scale(var(--small-scale-factor), var(--small-scale-factor));
    -moz-transform: scale(var(--small-scale-factor), var(--small-scale-factor));
    -ms-transform: scale(var(--small-scale-factor), var(--small-scale-factor));
    -o-transform: scale(var(--small-scale-factor), var(--small-scale-factor));
    transform: scale(var(--small-scale-factor), var(--small-scale-factor));
  }
}

.keyboard {
  position: absolute;
  /* outline: 1px dashed red; */
  height: 27vh;
  width: 80vh;
  /* left: 30%; */
  align-items: center;
  bottom: 12%;
  left: 0;
  right: 0;
  margin: auto;

}

.keyrow {
  width: 100%;
  height: 33%;
  display: flex;
  position: relative;
  bottom: 0;
  right: 0;
  justify-content: space-around;
}

.keycap {
  background-color: #d3d6da;
  height: 7.5vh;
  width: 5vh;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 7vh;
  color: black;
  font-size: 3vh;
  position: relative;
  user-select: none;
  font-family: fantasy;
  border: none;
}

#entertext{
  user-select: none;
  color: black;
  text-align: center;
  font-size: 6vh;
  margin: auto;
  font-family: fantasy;
  width:40vh;
  height:10vh;
  margin-bottom:20px;
  /* background-color:#b59f3b */
  background-color: none;
}

.blank{
  width:15%;
  display:inline-block;
  /* background-color:fuchsia; */
  position:relative;
  height:100%;
  background-color: none;
  border: #252525;
}

.blanktext{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  margin:0px;
  text-align:center;
  background-color: none;
  border:#252525;
}

.winScreen {
  height: 80%;
  width: 35%;
  background-color: white;
  color:black;
  position: absolute;
  top: 10%;
  margin:auto;
  left: 0px;
  right:0px;
  text-align: center;
  font-size: 10vh;
  opacity: 1;
  display: none;
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,0.3));
  border-radius: 20px;
  font-family: fantasy;
  
}

.loseScreen {
  color:black;
  height: 80%;
  width: 45%;
  background-color: white;
  position: absolute;
  top: 10%;
  margin:auto;
  left: 0px;
  right:0px;
  text-align: center;
  font-size: 10vh;
  opacity: 1;
  display:none;
  border-radius: 20px;
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,0.4));
  font-family: fantasy;
  
}
#answersButton{
  width:100px;
  margin:auto;
  font: size 1.5em;
}

#side6{
  text-align: center;
  padding:auto;
}

.ucflogo{
  position:absolute;
  margin:auto;
  top:50%;
  bottom:50%;  
  width:100%;
  
}

.side{
  outline: 1px solid white !important;
}

.attemptCounter {
  position: absolute;
  color: black;
  font-family: fantasy;
  font-size: 3vh;
  bottom: 2%;
  right: 23%;
}